<div class="container mt-2">
    <div class="card col-md-6 offset-3" >
      <div class="card-header">New Product</div>
      <div class="card-body" >
        <form >
          <div class="mb-3">
            <label class="form-label">Name :</label>
            <input id="name" type="text" formControlName="name" class="form-control"
            >

          </div>
          <div class="mb-3">
            <label class="form-label">Price :</label>
            <input type="text" formControlName="price" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Selected :</label>
            <input type="checkbox" formControlName="promoted" class="form-check">
          </div>
          <div class="d-grid">
            <button  class="btn btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>